body{
    width: 100%;
}
/*Contacto.html*/
.form{
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;

 }

 .form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
 }
.form__input{
    font-family: inherit;
    font-size: 1.2rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
  }
  .form__input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 1.5em;
  }
  .form__cta{
    background-color: #015477;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 500;
    color: white;
  }
  @media (max-width:450px){
    .form{
        padding: 2.5em .5em;
    }
  }
  .form__cta{
    font-family: inherit;
  }
 .form__title{
    text-align: center;
    font-size: 1.9em;
    margin-bottom: .4em;
    margin-top: 60px;
    margin-bottom: 30px;
 }
/*Contacto.html*/

